{% extends "booksiteapp/base.html" %}
{% block content %}
    <h1 class="title">My account</h1>

   

    <hr>

    <h2 class="subtitle">Account information</h2>

    <p><strong>First Name: </strong>{{ user.first_name }}</p>
    <p><strong>Last Name: </strong>{{ user.last_name}}</p>
    <p><strong>E-mail: </strong>{{ user.email }}</p>
    <p><strong>Address: </strong>{{ request.user.userprofile.address }}</p>
    <p><strong>Zip and place: </strong>{{ request.user.userprofile.zipcode }} {{request.user.userprofile.place }}</p>
    <p><strong>Phone: </strong>{{ request.user.userprofile.phone }}</p>
<p><strong>CreditCardNumber: </strong>{{request.User.creditcard.cardNumber}}</p>
    <p><strong>Card Name: </strong>{{ request.User.creditcard.cardFirstName }}</p>
    <p><strong>CVV: </strong>{{ request.User.creditcard.securityCode }}</p>
    
    <hr>

    <a href="{% url 'logout' %}" class="button is-danger">Log out</a>
{% endblock %}